.notesNode {
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  transform: rotate(-2deg);
  transition: transform 0.15s ease-in-out;
}

.notesNode:hover {
  transform: rotate(0deg) scale(1.05);
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.toggleButton {
  position: absolute;
  bottom: 5px;
  right: 5px;
  padding: 2px 5px;
  font-size: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}
