.container {
        width: 200px;
        height: 90vh;
        background: rgb(191, 255, 250);
        padding: 1rem;
        border: 2px solid #ddd;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
}

.buttons {
        padding: 8px 12px;
          background: #2563eb;
          color: white;
          border-radius: 8px;
          border: none;
          cursor: pointer;
          margin-bottom: 1rem;
          min-width: 8rem;
}