.controlsWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 120px; /* Space for footer on mobile and desktop */
    pointer-events: all;
}

.minimap {
    margin-bottom:  40px !important; /* Space for footer on mobile and desktop */
}

/* Mobile adjustments if needed */
@media (max-width: 768px) {
    .controlsWrapper {
        margin-bottom: 40px !important; /* Extra space if footer is taller on mobile */
    }

    .minimap {
        margin-bottom: 40px !important; /* Extra space if footer is taller on mobile */
    }
}
